*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build/.vs
/captures
.externalNativeBuild
/lib/x64/
/build/lib/airplay.dir
/build/lib/llhttp/llhttp.dir
/build/lib/playfair/playfair.dir
/build/lib/plist/plist.dir
/build/lib/plist/plist++.dir
/build/out
/build/renderers/Debug
/build/renderers/renderers.dir
/build/rpiplay.dir
/build/x64
/build/UpgradeLog.htm
/build/Debug/rpiplay.pdb
/mfDecoder/x64
/decoder/x64
/build/Airplay.h264
/build/Airplay.len
/build/Airplay.source
/build/output.yuv
/build/Airplay.aac
/build/Airplay.keyiv
/build/lib/aac_decoder/x64
/build/lib/h264_decoder/x64
/build/output.wav
/build/Airplay.*
/build/output.*
*.obj
*.tlog
*.log
/build/lib/fdk-aac/x64
*.yuv
*.pcm
/build
