*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build/.vs
/captures
.externalNativeBuild
/lib/x64/
/build/lib/airplay.dir
/build/lib/llhttp/llhttp.dir
/build/lib/playfair/playfair.dir
/build/lib/plist/plist.dir
/build/lib/plist/plist++.dir
/build/out
/build/renderers/Debug
/build/renderers/renderers.dir
/build/rpiplay.dir
/build/x64
/build/UpgradeLog.htm
/build/Debug/rpiplay.pdb
/mfDecoder/x64
/decoder/x64
